#password {
  padding: 30px 0;
  .password {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h1 {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border-bottom: 1px solid black;
      font-weight: 600;
      font-size: 25px;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: center;
      background: rgba(108, 117, 125, 1);
      height: 50px;
      width: 490px;
      padding: 10px;
      color: white;
    }
    &--block {
      width: 490px;
      height: auto;
      padding: 40px 0;
      background-color: rgba(217, 217, 217, 1);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 10px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      h3 {
        font-weight: 600;
        font-size: 32px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        color: rgba(33, 37, 41, 1);
      }
      input {
        padding: 10px 20px;
        background: rgba(108, 117, 125, 1);
        font-size: 25px;
        border-radius: 5px;
        border: 1px solid black;
      }
      button {
        border: none;
        background: rgba(108, 117, 125, 1);
        color: white;
        font-weight: 600;
        font-size: 22px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        padding: 10px 30px;
        margin-top: 20px;
        border-radius: 10px;
      }
    }
    &--text {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 10px;
      margin-top: 40px;
      width: 450px;
      height: 90px;
      background: white;
      border-radius: 20px;
      h2 {
        font-weight: 400;
        font-size: 22px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        color: rgba(33, 37, 41, 1);
      }
      h3 {
        font-weight: 700;
        font-size: 22px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        color: rgba(33, 37, 41, 1);
      }
    }
  }
}
